<header id="header">
    <div class="container-fluid">
        <div class="navbar">
            <a href="#" id="logo" title="Elegance by TemplateMo">
                Elegance
            </a>
            <div class="navigation-row">
                <nav id="navigation">
                    <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                    <div class="nav-box navbar-collapse">
                        <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                            <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                            <li data-menuanchor="slide02"><a href="#slide03">About Me</a></li>
                            <li data-menuanchor="slide03"><a href="#slide04">Services</a></li>
                            <li data-menuanchor="slide06"><a href="#slide06">My Skills</a></li>
                            <li data-menuanchor="slide07"><a href="#slide07">My Work</a></li>
                            <li data-menuanchor="slide02"><a href="#slide02">Testimonials</a></li>
                            <li data-menuanchor="slide05"><a href="#slide05">Contact Me</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<video autoplay muted loop id="myVideo">
  <source src="assets/images/video-bg.mp4" type="video/mp4">
</video>

<div id="fullpage" class="fullpage-default">

    <div class="section animated-row" data-section="slide01">
      <app-home></app-home>
    </div>

    <div class="section animated-row" data-section="slide02">
        <app-aboutme></app-aboutme>
    </div>

     <div class="section animated-row" data-section="slide03" >
        <app-services></app-services>
    </div>
    <div class="section animated-row" data-section="slide04">
        <app-my-skills></app-my-skills>
    </div>
    <div class="section animated-row" data-section="slide06" >
        <app-my-work></app-my-work>
    </div>
    <div class="section animated-row" data-section="slide05" >
        <app-testimonials></app-testimonials>
    </div>
    <div class="section animated-row" data-section="slide07">
        <app-contact-me></app-contact-me>
    </div>
</div>