<div class="section-inner">
    <div class="row justify-content-center">
        <div class="col-md-7 wide-col-laptop">
            <div class="title-block animate" data-animate="fadeInUp">
                <span>My Skills</span>
                <h2>What i’m good?</h2>
            </div>
            <div class="skills-row animate" data-animate="fadeInDown">
                <div class="row">
                    <div class="col-md-8 offset-md-2">   
                        <div class="skill-item">
                            <h6>HTML CSS</h6>
                            <div class="skill-bar">
                                <span>70%</span>
                                <div class="filled-bar"></div>
                            </div>          
                        </div>
                        <div class="skill-item">
                            <h6>PSD Design</h6>
                            <div class="skill-bar">
                                <span>90%</span>
                                <div class="filled-bar-2"></div>
                            </div>          
                        </div>
                        <div class="skill-item">
                            <h6>Social Media</h6>
                            <div class="skill-bar">
                                <span>70%</span>
                                <div class="filled-bar"></div>
                            </div>          
                        </div>
                        <div class="skill-item last-skill">
                            <h6>Leadership</h6>
                            <div class="skill-bar">
                                <span>90%</span>
                                <div class="filled-bar-2"></div>
                            </div>          
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>