<div class="section-inner">
    <div class="about-section">
        <div class="row justify-content-center">
            <div class="col-lg-8 wide-col-laptop">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-contentbox">
                            <div class="animate" data-animate="fadeInUp">
                                <span>About Me</span>
                                <h2>Who am i?</h2>
                                <p>Credits go to <strong>Unsplash</strong> and <strong>Pexels</strong> for photos and video used in this template. Vivamus tincidunt, augue rutrum convallis volutpat, massa lacus tempus leo.</p>
                            </div>
                            <div class="facts-list owl-carousel">
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="counter-box">
                                        <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">32</span> Awards Won
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="counter-box">
                                        <i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span class="count-number">4</span> Degrees
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="counter-box">
                                        <i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">12</span> Working Years
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="counter-box">
                                        <i class="fa fa-support counter-icon" aria-hidden="true"></i><span class="count-number">6</span> Team Members
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="counter-box">
                                        <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">10</span> Certificates
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <figure class="about-img animate" data-animate="fadeInUp"><img src="assets/images/profile-girl.jpg" class="rounded" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>