<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <span>Services</span>
                    <h2>What I Do?</h2>
                </div>
                <div class="services-section">
                    <div class="services-list owl-carousel">
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                                <h3>Bootstrap Themes</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                                <h3>HTML5 Coding</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                <h3>Fully Responsive</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                <h3>Mobile Ready</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                                <h3>Fast Support</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-database" aria-hidden="true"></i></span>
                                <h3>24-hour Up Time</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-bell" aria-hidden="true"></i></span>
                                <h3>Instant Upgrades</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-camera" aria-hidden="true"></i></span>
                                <h3>Always Monitoring</h3>
                                <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>