<div class="section-inner">
    <div class="row justify-content-center">
        <div class="col-md-8 wide-col-laptop">
            <div class="title-block animate" data-animate="fadeInUp">
                <span>My Work</span>
                <h2>what i’ve done?</h2>
            </div>
            <div class="gallery-section">
                <div class="gallery-list owl-carousel">
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-1.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap CSS templates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-2.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap themes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-3.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap layouts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-1.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-2.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download Bootstrap CSS templates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-3.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-1.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-2.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="assets/images/item-3.jpg" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                <h4>templatemo is the best</h4>
                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>